<span ng-repeat="branch in branches">
    {{ addBranch(branch) }}
</span>

<span ng-repeat="(id, dir) in contents.dirs track by $index">
    <li draggable="true" ng-attr-id="'folder' + {{$index}}" class="animated tada draggable">
        <a ui-sref="treasury.project({owner: '{{params.owner}}', repo: '{{params.repo}}', branch: '{{params.branch}}', path: '{{params.path + (params.path === '' ? '' : '/') + dir}}'})">
            <span class="far fa-folder-open outline" style="color: white; font-size: 4.5em"></span>
            {{dir}}
        </a>
    </li>
</span>

<span ng-repeat="(id, file) in contents.files track by $index">
    {{ addFile(id, file['name'], file['sha']) }}
</span>

<div id="shareRepoModal" class="modal">
    <div class="modal-content">
        <div class="modal-header" id="publicHeader">Share this repo!</div>
        <div class="modal-body">
            <label for="repoShareFriendFilter">Filter friends:
            <input type="text" placeholder="Name" id="repoShareFriendFilter" ng-model="repoShareFriendFilter">
            </label>
            <br><br><br>
            <span class="fmSelectedFriend" ng-repeat="friend in selectedFriendsList" ng-click="removeSelectedFriend(friend)">
                {{friend.name}}
            </span>
            <div ng-repeat="friend in friendsList | filter:repoShareFriendFilter" ng-click="addSelectedFriend(friend)"
                    ng-if="selectedFriendsList.indexOf(friend) === -1">
                <img ng-src="{{friend.profilepic}}" width="60">
                {{friend.name}}
            </div>
            <br>
            <button ng-click="sendShareInvites()">Invite</button>
        </div>
    </div>
</div>
