body{
	margin: 0;
	font-family: Lato;
	outline: none;
    background-image: url("images/blur.jpg");
	overflow: hidden;
}

/****************************************************
 ******************* DOWNLOAD ***********************
 ****************************************************/
#download {
	display: none;
	width: 0;
	height: 0;
}

/****************************************************
 ****************** LEFT COLUMN *********************
 ****************************************************/
#leftcol {
	position: relative;
	width: 20%;
	height: 100%;
	display: inline-block;
}
.rightcol{
	position: relative;
	display: inline-block;
	width: 76%;
	height: 100%;
	float: right;
	margin-right: 3.5%;
}
#addpeople{
	background-color: rebeccapurple;
	border-radius: 500px;
	border: solid 2px mediumpurple;
	padding: 25%;
	color: white;
	cursor: pointer;
}

/****************************************************
 ******************** TOOLBAR ***********************
 ****************************************************/
#toolbar {
	width: 100%;
	height: 2%;
	background-color: rgba(255, 255, 255, .3);
	color: white;
}
#newFolderButton {
	border: 0;
	border-left: solid 1px white;
	border-right: solid 1px white;
}

#toolbar .toolbarButton {
	width: 5%;
	height: 100%;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	//border: 0;
	color: white;
}
#addbutton{
	width:75%;
	border:0;
	border-top: solid 2px rgba(255,255,255,0.4);
	cursor: pointer;
	background: rgba(0,0,0,0);
	color:rgba(255,255,255,0.4);
	padding: 0.5%;
	margin-left: 12.5%;
}
#toolbar .toolbarButton:focus {
	outline: 0;
}

#newFileButton {
	border:0;
}

#debugButton {
	border: 0;
}

#runButton {
	border: 0;
}

/****************************************************
 ****************** FILE MANAGER ********************
 ****************************************************/
#filemanager {
	width: 100%;
	height: 95%;
	overflow:auto;
	line-height: 30px;
	color: whitesmoke;
}

#filemanager .dropdownli > ul{
	display: none;
}

#filemanager .expand.dropdownli > ul{
	display: block;
	padding: 0px;
}

#filemanager .expand.dropdownli.folder {
  	padding: 0px 0px 3px 25px;
  	list-style: none;
	margin: 0;
}

.file {
	padding: 0px 0px 3px 25px;
  	list-style: none;
  	margin: 0;
	cursor: pointer;
}

.folder{
  	padding: 0px 0px 3px 25px;
  	list-style: none;
	margin: 0;
	cursor: pointer;
}

/****************************************************
 ****************** CONTEXT MENUS *******************
 ****************************************************/

#foldermenu {
	width: 145px;
	background-color: #CDCDCD;
	border: 2px solid #6A6A6A;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #474747;
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
	position: absolute;
}

#foldermenu .contextMenuItem {
	width: 100%;
	list-style-type: none;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#foldermenu .contextMenuItem:hover {
	background-color: #EBEBEB;
}

.lineBreak {
	width: 95%;
	height: 2px;
	background-color: #626262;
	margin-left: auto;
	margin-right: auto;
}

#filemenu {
	width: 145px;
	background-color: #CDCDCD;
	border: 2px solid #6A6A6A;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #474747;
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
	position: absolute;
}

#filemenu .contextMenuItem {
	width: 100%;
	list-style-type: none;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#filemenu .contextMenuItem:hover {
	background-color: #EBEBEB;
}

/****************************************************
 ********************* EDITOR ***********************
 ****************************************************/
#editor { 
	position: relative;
	height:70vh;
	width: 100%;
	display: inline-block;
}

/****************************************************
 ******************** DEBUGGER **********************
 ****************************************************/
.ace_gutter-cell.ace_breakpoint { 
    background-color: #116348; 
}

#compileFrame {
	height: 100%;
	width: 100%;
}

/****************************************************
 ******************** TERMINAL **********************
 ****************************************************/
#terminal {
	position: relative;
	width: 100%;
	height: 20vh;
	background: black;
}

/****************************************************
 ****************** SWEET ALERT *********************
 ****************************************************/
.swal-compiled {
  	text-align: left;
	position: absolute;
	margin-left: 20%;
	margin-top: 0%;
	height: 100%;
	width: 30%;
	inset: 20px;
}

.swal-icon-notification {
	height: 150px;
	width: 300px;
}

.swal-uploadBox {
	width: 60%;
	height: 70%;
}
.tab {
	overflow: hidden;
	background-color: rgba(255,255,255,0.2);
	height: 5%;
	position: relative;
	display: inline-flex;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}