body{
	margin: 0;
	font-family: Lato;
	outline: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: 5px solid mediumpurple;
    border-radius: 64px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: mediumpurple;
    color: white;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.switch {
    position: relative;
    top:0%;
    width: 100%;
    height: 2rem;
    float: right;
    padding: 2px;
}
.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius:10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 40%;
    left: 4px;
    bottom: 10%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
}

input:checked + .slider {
    background-color: mediumpurple;
}

input:focus + .slider {
    box-shadow: 0 0 1px mediumpurple;
}

input:checked + .slider:before {
    -webkit-transform: translateX(145%);
    -ms-transform: translateX(145%);
    transform: translateX(145%);
}
fieldset{
    border: solid 0px;
    padding: 2%;
}
button {
    outline: none;
    border: none;
    color: black;
}
.prevBtn {
    position: relative;
    width: 4.5vw;
    padding: 10px;
    height: 2%;
    color: white;
    font-size: 90%;
    border-radius: 3rem;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.goBtn {
    position: relative;
    width: 30%;
    padding: 2px;
    height: 2%;
    color: white;
    font-size: 90%;
    border-radius: 3rem;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.profile {
    position: relative;
    width: 4.5vw;
    padding: 2px;
    height: 2%;
    color: white;
    font-size: 90%;
    border-radius: 3rem;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.prevBtn:active{
    border: solid mediumpurple 2px;
}
.inputname{
    background-color: rgba(0,0,0,0);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid gray;
    outline: none;
    width: 95%;
}
select{
    outline: none;
    border:0px;
    background-color: rgba(0,0,0,0.05);
//border-radius: 10px;
    color: black;
}
option{
    background-color: rgba(0,0,0,0.1);
    border: 0px;
    outline: none;
}


/****************************************************
 ******************* DOWNLOAD ***********************
 ****************************************************/
.bordered-circle-green {
    border-radius: 50%;
    border: 2px solid transparent;
    box-shadow: 0 0 0 1px #28a745;
    -webkit-transition: box-shadow 0.25s ease-out;
    -moz-transition: box-shadow 0.25s ease-out;
    -o-transition: box-shadow 0.25s ease-out;
    transition: box-shadow 0.25s ease-out;
}

.bordered-circle-green:hover {
    box-shadow: 0 0 0 2px #28a745;
}
#download {
	display: none;
	width: 0;
	height: 0;
}

/****************************************************
 ****************** LEFT COLUMN *********************
 ****************************************************/
#leftcol {
	position: relative;
	width: 20%;
	height: 100%;
	display: inline-block;
}
.rightcol{
	position: relative;
	display: inline-block;
	width: 76%;
	height: 100%;
	float: right;
	margin-right: 3.5%;
}
#addpeople{
	background-color: rebeccapurple;
	border-radius: 500px;
	border: solid 2px mediumpurple;
	color: white;
	cursor: pointer;
	height: 40px;
	width:40px;
}
#peopledisplay{
	list-style: none;
	margin: 0;
}
/****************************************************
 ******************** TOOLBAR ***********************
 ****************************************************/
.toolbar {
	width: 20%;
	height: 2%;
	background-color: rgba(255, 255, 255, .3);
	color: white;
}
#newFolderButton {
	border: 0;
	border-left: solid 1px white;
	border-right: solid 1px white;
}
#tab-list li{
    background-color: gray;
}
#tab-list a{
    color:rebeccapurple;
}
.toolbarButton {
    width: 24%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
/ / border: 0;
    float: left;
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}
#addbutton{
	width:75%;
	border:0;
	border-top: solid 2px rgba(255,255,255,0.4);
	cursor: pointer;
	background: rgba(0,0,0,0);
	color:rgba(255,255,255,0.4);
	padding: 0.5%;
	margin-left: 12.5%;
}
#toolbar .toolbarButton:focus {
	outline: 0;
}

#newFileButton {
	border:0;
}

#debugButton {
	border: 0;
}

#runButton {
	border: 0;
}

/****************************************************
 ****************** FILE MANAGER ********************
 ****************************************************/
#filemanager {
	width: 100%;
	overflow:auto;
	line-height: 30px;
	color: whitesmoke;
}

#filemanager .dropdownli > ul{
	display: none;
}

#filemanager .expand.dropdownli > ul{
	display: block;
	padding: 0px;
}

#filemanager .expand.dropdownli.folder {
  	padding: 0px 0px 3px 25px;
  	list-style: none;
	margin: 0;
}

.file {
	padding: 0px 0px 3px 25px;
  	list-style: none;
  	margin: 0;
	cursor: pointer;
}

.folder{
  	padding: 0px 0px 3px 25px;
  	list-style: none;
	margin: 0;
	cursor: pointer;
}

/****************************************************
 ****************** CONTEXT MENUS *******************
 ****************************************************/

#foldermenu {
	width: 145px;
	background-color: white;
	//border-radius: 5px;
	box-shadow: 5px 5px 10px mediumpurple;
	padding-top: 5px;
	padding-bottom: 5px;
    color:mediumpurple;
	display: none;
	position: absolute;
}

#foldermenu .contextMenuItem {
	width: 100%;
	list-style-type: none;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#foldermenu .contextMenuItem:hover {
	background-color: #EBEBEB;
}

.lineBreak {
	width: 100%;
	height: 2px;
	background-color: rebeccapurple;
	margin-left: auto;
	margin-right: auto;
}

#filemenu {
    width: 145px;
    background-color: white;
//border-radius: 5px;
    box-shadow: 5px 5px 10px mediumpurple;
    padding-top: 5px;
    padding-bottom: 5px;
    color:mediumpurple;
    display: none;
    position: absolute;
}

#filemenu .contextMenuItem {
	width: 100%;
	list-style-type: none;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#filemenu .contextMenuItem:hover {
	background-color: #EBEBEB;
}

/****************************************************
 ********************* EDITOR ***********************
 ****************************************************/
#editor { 
	position: relative;
	height:60vh;
	width: 100%;
	display: inline-block;
}

/****************************************************
 ******************** DEBUGGER **********************
 ****************************************************/
.ace_gutter-cell.ace_breakpoint { 
    background-color: #116348; 
}

#compileFrame {
	height: 100%;
	width: 100%;
}

/****************************************************
 ******************** TERMINAL **********************
 ****************************************************/
#terminal {
	position: relative;
	width: 100%;
	height: 20vh;
	background: black;
    border: solid 2px white;
}
iframe{
    border: none;
}

/****************************************************
 ****************** SWEET ALERT *********************
 ****************************************************/
.swal-compiled {
  	text-align: left;
	position: absolute;
	margin-left: 20%;
	margin-top: 0%;
	height: 100%;
	width: 30%;
	inset: 20px;
}

.swal-icon-notification {
	height: 150px;
	width: 300px;
}

.swal-uploadBox {
	width: 60%;
	height: 70%;
}
.tab {
	overflow: hidden;
	background-color: rgba(255,255,255,0.2);
	height: 5%;
	position: relative;
	display: inline-flex;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}